[submodule "Rendering-Engine-Framework"]
	path = Rendering-Engine-Framework
	url = https://github.com/piotrprzybyszdev/Rendering-Engine-Framework.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
